[submodule "GLM"]
	path = GLM
	url = https://github.com/g-truc/glm.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/spurious/SDL-mirror.git
[submodule "SOIL/soil"]
	path = SOIL/soil
	url = https://github.com/kidovate/soil.git
